
v1.1/Shaper.csv
v1.1/network.json
v1.1/ispConfig.py
v1.1/xdp-cpumap-tc/
v1.1/pping
v1.1/statsByDevice.json
v1.1/statsByParentNode.json
v1.2/ShapedDevices.csv
v1.2/network.json
v1.2/ispConfig.py
v1.2/xdp-cpumap-tc/
v1.2/pping
v1.2/statsByCircuit.json
v1.2/statsByParentNode.json
v1.2/lastGoodConfig.json
v1.2/lastGoodConfig.csv
v1.2/mikrotikDHCPRouterList.csv
v1.2/integrationUISPbandwidths.csv
v1.2/longTermStats.json
v1.2/queuingStructure.json
v1.2/tinsStats.json
v1.3/ShapedDevices.csv
v1.3/ShapedDevices.lastLoaded.csv
v1.3/network.json
v1.3/ispConfig.py
v1.3/statsByCircuit.json
v1.3/statsByParentNode.json
v1.3/lastGoodConfig.json
v1.3/lastGoodConfig.csv
v1.3/mikrotikDHCPRouterList.csv
v1.3/longTermStats.json
v1.3/queuingStructure.json
v1.3/tinsStats.json

src/ShapedDevices.csv
src/ShapedDevices.lastLoaded.csv
src/network.json
src/ispConfig.py
src/ispConfig.py.backup
src/ispConfig.py.test
src/statsByCircuit.json
src/statsByParentNode.json
src/lastGoodConfig.json
src/lastGoodConfig.csv
src/mikrotikDHCPRouterList.csv
src/integrationUISPbandwidths.csv
src/integrationUISProutes.csv
src/longTermStats.json
src/queuingStructure.json
src/tinsStats.json
src/linux_tc.txt
src/lastRun.txt
src/liblqos_python.so
src/webusers.toml
src/lqusers.toml
src/dist
src/rust/lqos_anonymous_stats_server/anonymous.sqlite
src/rust/long_term_stats/license_server/lqkeys.bin
src/rust/long_term_stats/lts_node/lqkeys.bin
src/rust/long_term_stats/pgdb/.env
src/rust/long_term_stats/site_build/node_modules
src/rust/long_term_stats/site_build/output
src/rust/long_term_stats/site_build/package-lock.json
src/rust/long_term_stats/wasm_pipe/staging
src/rust/long_term_stats/lts_node/deploy.sh

# Ignore Rust build artifacts
src/rust/target
src/bin/static
src/bin/lqosd
src/bin/lqtop
src/bin/xdp_iphash_to_cpu_cmdline
src/bin/xdp_pping
src/bin/lqos_node_manager
src/bin/webusers
src/bin/lqusers
src/bin/Rocket.toml
src/bin/lqos_map_perf

# Ignore project folders for some IDEs
.idea/
__pycache__

# Ignore common temporary files
*.bak
# Auto-generated tag files
tags
TAGS
# Vi Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist

# Persistent undo
[._]*.un

# Emacs
*~
tramp
.\#*
\#*

# virtual environments
.venv
venv
src/integrationUISPbandwidths.template.csv
src/lts_keys.bin
src/network
src/network.json.good
src/network.pdf
src/ShapedDevices.csv.good
.gitignore
src/rust/lqosd/lts_keys.bin
src/rust/lqosd/src/node_manager/js_build/out
src/bin/dashboards
.aider*
