[submodule "v0.9/xdp-cpumap-tc"]
	path = v0.9/xdp-cpumap-tc
	url = https://github.com/xdp-project/xdp-cpumap-tc.git
	ignore = dirty
[submodule "v1.0/xdp-cpumap-tc"]
	path = v1.0/xdp-cpumap-tc
	url = https://github.com/xdp-project/xdp-cpumap-tc.git
	ignore = dirty
[submodule "v1.1/xdp-cpumap-tc"]
	path = v1.1/xdp-cpumap-tc
	url = https://github.com/xdp-project/xdp-cpumap-tc.git
	ignore = dirty
[submodule "v1.2/xdp-cpumap-tc"]
	path = v1.2/xdp-cpumap-tc
	url = https://github.com/xdp-project/xdp-cpumap-tc.git
	ignore = dirty
