
v1.1/Shaper.csv
v1.1/network.json
v1.1/ispConfig.py
v1.1/xdp-cpumap-tc/
v1.1/pping
v1.1/statsByDevice.json
v1.1/statsByParentNode.json
v1.1/*.bak
v1.2/ShapedDevices.csv
v1.2/network.json
v1.2/ispConfig.py
v1.2/xdp-cpumap-tc/
v1.2/pping
v1.2/statsByCircuit.json
v1.2/statsByParentNode.json
v1.2/lastGoodConfig.json
v1.2/lastGoodConfig.csv
v1.2/mikrotikDHCPRouterList.csv
v1.2/integrationUISPbandwidths.csv
v1.2/longTermStats.json
v1.2/queuingStructure.json
v1.2/tinsStats.json
v1.2/*.bak

# Ignore project folders for some IDEs
.idea/
__pycache__
