{% extends "layout/main.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <strong>Shaped Devices</strong>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped datatable">
                        <thead>
                            <th width="5%"></th>
                            <th width="40%">Circuit</th>
                            <th width="20%">Device</th>
                            <th width="20%">Plan</th>
                            <th width="15%"></th>
                        </thead>
                        <tbody>
                            {% for device in devices.iter() %}
                                <tr id="{{device.circuit_id}}">
                                    <td class="align-middle text-center"><i class="fa fa-square fa-fw pe-2" style="color: #808080;"></i></td>
                                    <td class="py-0">
                                        <a href="/circuit/{{device.circuit_id}}">
                                            {{device.circuit_name}}
                                        </a><br />
                                        <small>
                                            {% for ip in device.ipv4.iter() %}
                                                {{ ip.0 }}/{{ ip.1 }}
                                            {% endfor %}
                                        </small>
                                    </td>
                                    <td class="align-middle">{{device.device_name}}</td>
                                    <td class="align-middle">
                                        {{device.download_max_mbps}}Mbps
                                        <i class="fa fa-down-long fa-fw"></i>
                                        {{device.upload_max_mbps}}Mbps
                                        <i class="fa fa-up-long fa-fw"></i>
                                    </td>
                                    <td class="text-end align-middle">
                                        <a href="#" class="btn btn-outline-success btn-sm me-2">
                                            <i class="nav-icon fa fa-people-roof fa-fw"></i>
                                        </a>
                                        <a href="#" class="btn btn-outline-info btn-sm me-2">
                                            <i class="fa fa-eye fa-fw"></i>
                                        </a>
                                        <a href="#" class="btn btn-outline-primary btn-sm me-2">
                                            <i class="fa fa-pencil fa-fw"></i>
                                        </a>
                                        <a href="#" class="btn btn-ghost-light btn-sm">
                                            <i class="fa fa-ellipsis fa-fw"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}