{% extends "layout/main.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <strong>Unmapped IP Addresses</strong>
                    <span class="small ms-1"><i class="fa fa-download"></i></span>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped datatable">
                        <thead>
                            <th>IP</th>
                            <th>Total Bandwidth</th>
                            <th>Total Packets</th>
                            <th>Last Seen</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for device in devices.iter() %}
                                <tr>
                                    <td class="align-middle">{{device.ip_address}}</td>
                                    <td class="align-middle">
                                        {{device.bits_per_second.0}}
                                        <i class="fa fa-down-long fa-fw"></i>
                                        {{device.bits_per_second.1}}
                                        <i class="fa fa-up-long fa-fw"></i>
                                    </td>
                                    <td class="align-middle">
                                        {{device.packets_per_second.0}}
                                        <i class="fa fa-down-long fa-fw"></i>
                                        {{device.packets_per_second.1}}
                                        <i class="fa fa-up-long fa-fw"></i>
                                    </td>
                                    <td class="align-middle"></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}