<!doctype html>
<html lang="en">
<head>
	<base href="./">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
	<link rel="icon" type="image/png" href="/assets/favicon.png">
	<link rel="stylesheet" href="/assets/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/fa-solid.min.css">
	<title>LibreQoS - {{ title }}</title>
	<link href="/assets/ui.min.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
	<script src="/assets/ui.bundle.min.js"></script>
</body>
</html>