{% extends "layout/auth.html" %}
{% block content %}
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center dark:bg-transparent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
					<div class="clearfix">
					    <h1 class="float-start display-3 me-4">404</h1>
					    <h4 class="pt-3">Oops! You're lost.</h4>
					    <p class="text-medium-emphasis">The page you are looking for was not found.</p>
					</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}