{% extends "layout/main.html" %}

{% block content %}
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<div class="card mb-4 text-white bg-primary-gradient">
				<div class="card-body pb-0 d-flex justify-content-between align-items-start" style="position: absolute;">
					<div>
						<div class="fs-4 fw-semibold">
							<span class="live-download">0</span>
							<span class="fs-6 fw-normal">
								<i class="icon fa fa-down-long fa-fw"></i>
							</span>
						</div>
						<div>Download</div>
					</div>
				</div>
				<div class="c-chart-wrapper" style="height:125px;"></div>
			</div>
		</div>
		<!-- /.col-->
		<div class="col-sm-6 col-lg-3">
			<div class="card mb-4 text-white bg-info-gradient">
				<div class="card-body pb-0 d-flex justify-content-between align-items-start" style="position: absolute;">
					<div>
						<div class="fs-4 fw-semibold">
							<span class="live-upload">0</span>
							<span class="fs-6 fw-normal">
								<i class="icon fa fa-up-long fa-fw"></i>
							</span>
						</div>
						<div>Upload</div>
					</div>
				</div>
				<div class="c-chart-wrapper" style="height:125px;"></div>
			</div>
		</div>
		<!-- /.col-->
		<div class="col-sm-6 col-lg-3">
			<div class="card mb-4 text-white bg-warning-gradient">
				<div class="card-body pb-0 d-flex justify-content-between align-items-start" style="position: absolute;">
					<div>
						<div class="fs-4 fw-semibold">
							<span class="live-average-download">0</span>Mbps
							<span class="fs-6 fw-normal">
								<i class="icon fa fa-down-long fa-fw"></i>
							</span>
						</div>
						<div>Average Download</div>
					</div>
				</div>
				<div class="c-chart-wrapper" style="height:125px;"></div>
			</div>
		</div>
		<!-- /.col-->
		<div class="col-sm-6 col-lg-3">
			<div class="card mb-4 text-white bg-danger-gradient">
				<div class="c-chart-wrapper" style="height:125px;" data-lqos-subscribe="rtt" data-lqos-data=""></div>
				<div class="card-body pb-0 d-flex justify-content-between align-items-start" style="position: absolute;">
					<div>
						<div class="fs-4 fw-semibold">
							<span class="live-average-rtt">0</span>ms
						</div>
						<div>Average RTT</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-->
	</div>
	<!-- /.row-->
	<div class="row">
		<div class="col col-lg-7">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<div>
							<h5 class="card-title mb-0">Traffic</h5>
						</div>
						<div class="d-none d-md-block" role="toolbar">
							<span class="text-medium-emphasis">Packets</span>
							<span class="fw-semibold">
								<span class="live-download-packets">0</span>
								<i class="icon fa fa-down-long fa-fw"></i>
							</span>
							<span class="text-medium-emphasis">/</span>
							<span class="fw-semibold">
								<span class="live-upload-packets">0</span>
								<i class="icon fa fa-up-long fa-fw"></i>
							</span>
								
						</div>
					</div>
					<div class="c-chart-wrapper" style="height:135px;" data-lqos-subscribe="current_throughput" data-lqos-data=""></div>
				</div>
				<div class="card-footer">
					<div class="row row-cols-1 row-cols-md-4 text-center">
						<div class="col mb-0">
							<div class="text-medium-emphasis">Shaped Download</div>
							<div class="fw-semibold"><span class="live-shaped-download">0M</span></div>
						</div>
						<div class="col mb-0">
							<div class="text-medium-emphasis">Unshaped Download</div>
							<div class="fw-semibold"><span class="live-unshaped-download">0M</span></div>
						</div>
						<div class="col mb-0">
							<div class="text-medium-emphasis">Shaped Upload</div>
							<div class="fw-semibold"><span class="live-shaped-upload">0M</span></div>
						</div>
						<div class="col mb-0">
							<div class="text-medium-emphasis">Unshaped Upload</div>
							<div class="fw-semibold"><span class="live-unshaped-upload">0M</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-lg-5">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<div>
							<h5 class="card-title mb-0">Site Funnel</h5>
							<div class="small text-medium-emphasis"></div>
						</div>
					</div>
					<div class="c-chart-wrapper" data-lqos-subscribe="site_funnel" data-lqos-data="">
						<table class="table table-sm mb-0">
							<tbody id="live-site-funnel">
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-6">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<div>
							<h5 class="card-title mb-0">Top 10 Downloading</h5>
						</div>
					</div>
					<div class="c-chart-wrapper" data-lqos-subscribe="top_ten_download" data-lqos-data="">
						<table class="table table-sm mb-0">
							<thead>
								<tr>
									<th width="40%">Circuit</th>
									<th width="15%">DL <i class="fa fa-down-long fa-fw"></i></th>
									<th width="15%">UL <i class="fa fa-up-long fa-fw"></i></th>
									<th width="15%">RTT (ms)</th>
									<th width="15%">Shaped</th>
								</tr>
							</thead>
							<tbody id="live-tt">
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-lg-6">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<div>
							<h5 class="card-title mb-0">Worst 10 RTT</h5>
						</div>
					</div>
					<div class="c-chart-wrapper" data-lqos-subscribe="worst_ten_rtt" data-lqos-data="">
						<table class="table table-sm mb-0">
							<thead>
								<tr>
									<th width="40%">Circuit</th>
									<th width="15%">DL <i class="fa fa-down-long fa-fw"></i></th>
									<th width="15%">UL <i class="fa fa-up-long fa-fw"></i></th>
									<th width="15%">RTT (ms)</th>
									<th width="15%">Shaped</th>
								</tr>
							</thead>
							<tbody id="live-wrtt">
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}